* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.stats-container .stats-grid:first-child .stat-number {
    position: relative;
    padding-top: 60px;
}

.stats-container .stats-grid:first-child .stat-number::before{
    content: "🔥";
    position: absolute;
    translate: 30% -100%;
    font-size: 30px;
}

.stats-container .stats-grid:last-child {
    background-color: rgb(61, 57, 169)
    ;
}

.stats-container .stats-grid:last-child .stat-number{
    color: white;
}

.stats-container .stats-grid:last-child .stat-label{
    color: white;
}

.stats-grid:hover {
    background-color: rgba(0, 0, 0, 0.274);
    margin-top: 10px;
}