* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.stats-container .stats-grid:first-child .stat-number {
    position: relative;
    padding-top: 60px;
}

.stats-container .stats-grid:first-child .stat-number::before{
    content: "🔥";
    position: absolute;
    translate: 30% -100%;
    font-size: 30px;
}

.stats-container .stats-grid:last-child {
    background-color: rgb(61, 57, 169)
    ;
}

.stats-container .stats-grid:last-child .stat-number{
    color: white;
}

.stats-container .stats-grid:last-child .stat-label{
    color: white;
}

.stats-grid:hover {
    box-shadow:0 2px 5px black;
    margin-top: 10px;
}

.workout-plan:nth-child(3) {
    background-color: rgba(255, 187, 0, 0.511);
    border-left: solid 6px orange;
}

.exercise-item:first-child {
     background-color: rgba(29, 243, 25, 0.174);
    border-left: solid 6px green;
}

.exercise-item:last-child {
     background-color: rgba(29, 243, 25, 0.174);
    border-left: solid 6px green;
    position: relative;
}

.exercise-item:nth-child(2)::before {
    content: "⚡";
}

.exercise-item:nth-child(4)::before {
    content: "⚡";
}

input,select:focus {
    box-shadow: 0 2px 9px blue;
    transition-duration: 1s;
}

.save-btn:hover {
    box-shadow:0 2px 5px rgb(25, 13, 192);
   background-color: rgba(25, 187, 25, 0.84);
}

